# Local backups
Apps/DemoApp_BACKUP/

# Xcode
**/xcuserdata/
**/*.xcuserstate
**/*.xcbkptlist
**/*.xccheckout
DerivedData/
*.xcuserdatad

# Swift Package Manager
.swiftpm/
**/.swiftpm/

# Xcode workspace shared data (local)
**/*.xcworkspace/xcshareddata/